@import url(geral.css);

.img {
    width: 120%;
    position: absolute;
    display: flex;
    justify-content: end;
}

body {
    overflow: hidden;
}

header {
    margin: 0.1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.componente {
    width: 50%;
    display: flex;
    align-items: center;
}

.componente a {
    padding-left: 10%;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.container .formulario {

    width: 50%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .formulario .input-size {
    width: 80%;
    height: 6vh;

    padding-left: 20px;
    border-radius: 10px;

    border-color: black;

    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.container .imgDoe {
    height: 75vh;
    margin-top: 3%;
    margin-right: 8%;
}

.formulario h1 {
    font-family: 'Rowdies', sans-serif;
    font-size: 7vh;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario .text-title {
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
}

.cadastrar {
    background-color: var(--vermelho-claro);
}


.inputs {
    width: 80%;
    display: flex;
} 

.input-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.input-size::placeholder {
    color: black;
    font-weight: bold;
}

.input-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.check {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    height: 10vh;
    width: 83%;
    display: flex;
}

.minhaCaixaDeSelecao {
    height: 60%;
    margin: 0;
}

h3 {
    margin-top: 1.5%;
}


