/*ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*ROWDIES*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;700&family=Rowdies&display=swap');

/*MONTSERRAT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300;400;700&family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    transition: .5s;
}

a:link {
    text-decoration: none!important;
}

a:visited {
    text-decoration: none!important;
}

a:hover {
    text-decoration: none!important;
    color: inherit!important;
}

a:active {
    text-decoration: none!important;
    color: inherit;
}

:root{

    /*CORES*/

    --azul-escuro: #66A0FA;
    --azul-claro: #C1D6F6;

    --vermelho-claro: #FF6666;
    --vermelho-escuro: #DC2A2A;
    
    --branco: #ffffff;
    --preto: #000000;


    /*PESO FONTES*/

    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;


    /*ESTILO FONTE*/

    /*SEMIBOLD*/
    .sbold-24 {
        font-weight: var(--semibold);
        font-size: 24px;
    }

    .sbold-16 {
        font-weight: var(--semibold);
        font-size: 16px;
    }

    /*BOLD*/
    .bold-24 {
        font-weight: var(--bold);
        font-size: 24px;
    }

    .bold-20 {
        font-weight: var(--bold);
        font-size: 20px;
    }

    .bold-display-48 {
        font-weight: var(--bold);
        font-size: 48px;
    }

    /* Extrabold */
    .xbold-display-48 {
        font-weight: var(--extrabold);
        font-size: 48px;
    }

    .xbold-36 {
        font-weight: var(--extrabold);
        font-size: 36px;
    }

    .xbold-16 {
        font-weight: var(--extrabold);
        font-size: 16px;
    }
}
