
.menu{
    width: 20%;
    height: 100vh;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.menu .menuItens{
    width: 60%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu .menuItens .item{
    color: var(--preto);
}