@import url(geral.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&family=Rowdies:wght@300;400;700&display=swap');


.calendario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.react-calendar {
    width: 80%;
    height: 65vh;

    font-family: 'Roboto';
    background-color: var(--azul-claro);

    border: 4px;
    border-style: solid;
    border-color: var(--vermelho-escuro);
}

.react-calendar__navigation{
    background-color: var(--vermelho-claro);

    border: 4px;
    border-bottom-style: solid;
    border-color: var(--vermelho-escuro);
}

.react-calendar__navigation__label{
    font-size: large;
    font-weight: bold;
}

.react-calendar__navigation__arrow {
    margin: 0 10px;

    cursor: pointer; 
    font-size: 24px; 
    transition: color 0.3s;
    font-weight: bold;
    color: var(--vermelho-escuro); 
  }
  
  .react-calendar__navigation__arrow:hover {
    color: var(--azul-escuro); 
  }

.react-calendar__month-view {
    width: 100%;
    background-color: var(--azul-claro);
}

.react-calendar__month-view__weekdays {
    font-size: small;
    background-color: var(--azul-claro);
}

.react-calendar__month-view__days{
    border: 4px;
    border-top-style: solid;
    border-color: var(--vermelho-escuro);
}

.react-calendar__year-view{
    background-color: var(--azul-escuro);
}

.react-calendar__decade-view__years{
    background-color: var(--azul-escuro);
}

.react-calendar__century-view__decades{
    background-color: var(--azul-escuro);
}

.react-calendar__tile {
    height: 8vh;
    font-size: medium;
}

/*DIA ATUAL*/
.react-calendar__tile--now {
    background-color: var(--vermelho-claro);
}

.react-calendar__tile--active {
    /* Estilos para o dia selecionado */
    background-color: var(--vermelho-claro);
    color: var(--branco);
}

.react-calendar__tile--hasActive {
    background-color: var(--vermelho-claro);
    color: var(--branco);
}

.react-calendar__tile--flag {
    background-color: var(--vermelho-claro);
}