@import url(geral.css);

.img3 {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
}

.img3 .onda3{ 
    width: 60%;
}

.img3 .imgDoe3{
    margin-top: 5%;
    margin-right: 5%;
    width: 35%;
    position: absolute;
}

.header3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.header3 .componente2 {
    margin-top: 0.6%;
    width: 18.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.container2 .formulario2 {

    width: 60%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container2 .formulario2 .input-size {
    width: 80%;
    height: 6vh;

    padding-left: 20px;
    border-radius: 10px;

    border-color: black;

    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.formulario2 h1 {
    font-family: 'Rowdies', sans-serif;
    font-size: 7vh;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario2 .text-title {
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
}

.cadastrar {
    background-color: var(--vermelho-claro);
}


.inputsDados {
    width: 80%;
    display: flex;
} 

.input-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.input-size::placeholder {
    color: black;
    font-weight: bold;
}

.input-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.check {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    height: 10vh;
    width: 63%;
    display: flex;
}

.minhaCaixaDeSelecao {
    height: 60%;
    margin: 0;
}

h3 {
    margin-top: 1.5%;
}


