@import url(geral.css);

.flexContainer .conteudoHospital {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flexContainer .conteudoHospital .containerHospital {
    margin-top: 4%;
    font-size: 10px;
    margin-left: 4%;
}

.conteudoHospital .textosQuadro {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px black;
    padding: 30px;
    background-color: #ff6666;
}

.titleQuadro {
    margin-left: 30px;
    margin-bottom: 10px;
}

.opitionUm {
    font-family: "rowdies";
    font-size: 18px;
    border-radius: 5px;
    width: 65%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.mgAtm {
    margin: auto 0;
}

.opitionDois {
    font-family: "rowdies";
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
    height: 20%;
    border: solid 1px black;
    font-weight: bold;
}

#placeholder-number::placeholder {
    font-size: 18px;
    padding: 10px;
    color: black;
}

.flexContainer .primeiroQuadro {
    margin-top: 4%;
    margin-left: 4%;
    width: 65%;
    height: 32vh;
}

.primeiroQuadro h3 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
}

.flexColumn {
    display: flex;
    height: 40px;
}

.quizDois .comboBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69.9%;
    margin-left: 3%;
    /* border: solid 1px black; */
}

.flexContainer .segundoQuadro {
    width: 80%;
    height: 39vh;
    /* border: solid 1px red; */
}

.segundoQuadro h3 {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    /* border: solid 1px blue; */
}

.btn:hover {
    background-color: var(--vermelho-escuro);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

a {
    color: black;
    text-decoration: none;
}