/*Link Fontes*/
/*ROBOTO*/
/*ROWDIES*/
/*POPPINS*/
/*MONTSERRAT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;

}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

a:active {
    text-decoration: none !important;
    color: inherit;
}

li {
    list-style: none !important;
}

:root {

    /*CORES*/

    --azul-real: #0D6986;
    --azul-escuro: #66A0FA;
    --azul-claro: #C1D6F6;

    --vermelho-claro: #FF6666;
    --vermelho-escuro: #DC2A2A;

    --branco: #ffffff;
    --preto: #000000;

    /*PESO FONTES*/

    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    /*COR BACKGROUND*/
    .bg-azulEscuro {
        background-color: var(--azul-escuro);
    }

    .bg-azulClaro {
        background-color: var(--azul-claro);
    }

    .bg-vermelhoEscuro {
        background-color: var(--vermelho-escuro);
    }

    .bg-vermelhoClaro {
        background-color: var(--vermelho-claro);
    }

    .bg-branco {
        background-color: var(--branco);
    }

    .bg-azulReal {
        background-color: var(--azul-real);
    }

    /*FAMILIA FONTE*/
    .rowdies {
        font-family: 'Rowdies';
    }

    .roboto {
        font-family: 'Roboto';
    }

    .montserrat {
        font-family: 'Montserrat';
    }

    .poppins {
        font-family: 'Poppins';
    }

    /*ESTILO FONTE*/

    /*REGULAR*/

    .regular-16 {
        font-weight: var(--regular);
        font-size: 16px;
    }

    .regular-20 {
        font-weight: var(--regular);
        font-size: 20px;
    }

    .regular-24 {
        font-weight: var(--regular);
        font-size: 24px;
    }

    .regular-30 {
        font-weight: var(--regular);
        font-size: 30px;
    }

    .regular-64 {
        font-weight: var(--regular);
        font-size: 64px;
    }

    /*SEMIBOLD*/
    .sbold-24 {
        font-weight: var(--semibold);
        font-size: 24px;
    }

    .sbold-16 {
        font-weight: var(--semibold);
        font-size: 16px;
    }

    /*BOLD*/
    .bold-30 {
        font-weight: var(--bold);
        font-size: 30;
    }

    .bold-24 {
        font-weight: var(--bold);
        font-size: 24px;
    }

    .bold-20 {
        font-weight: var(--bold);
        font-size: 20px;
    }

    .bold-display-48 {
        font-weight: var(--bold);
        font-size: 48px;
    }

    /* Extrabold */
    .xbold-display-48 {
        font-weight: var(--extrabold);
        font-size: 48px;
    }

    .xbold-36 {
        font-weight: var(--extrabold);
        font-size: 36px;
    }

    .xbold-16 {
        font-weight: var(--extrabold);
        font-size: 16px;
    }

    /*Padrão Logo*/
    .logo {
        width: 135px;
        height: 21vh;
    }

    /*Padrão Botão*/
    .btn {
        width: 190px;
        height: 6vh;
        border-radius: 7px;
        border: none;
        font-weight: bold;
        font-family: 'Roboto';
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--vermelho-escuro);
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btn {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


    /*Padrão das Boxs*/
    .box {
        border: #000000 solid 1px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
    }

    /*Padrão das dos Campos de Usuário*/
    .campoUsuario {
        background-color: white;
        padding: 20px;
        border: #000000 solid 1px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }

    /*Padrão do background e logo em PERFIL*/
    .bg-imgOndaLogo {
        width: 100%;
        height: 100vh;
        display: flex;
        position: absolute;
        justify-content: end;
    }
    
    .imgRetangulo {
        width: 20%;
        height: 100vh;
    
    }

    .logoPerfil {
        margin-top: 2%;
        margin-right: 4%;
        width: 135px;
        height: 21vh;
        position: absolute;
    }
    
}