@import url(geral.css);
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css');

.conteudo {
    width: 80%;
    height: 100vh;
    font-weight: var(--semibold);
    border-right-style: solid;
    display: flex;
    flex-direction: column;

}

.topo {
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.titulo {
    width: 30%;
    height: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
}

.selecionaCep {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.selecionaCep input {
    border-radius: 20PX;
    border: 1px black solid;
    height: 30%;
    width: 80%;
    font-size: 25px;
    text-align: center;
    font-family: 'roboto';
}

.logo {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 75%;
}
.ondas{
    height: 100vh;
    width: 80%;
    position: absolute;
    z-index: -9999;
    display: flex;
    justify-content: flex-end;
}
.waves{
    height: 100vh;
   
}
.waves img{
    height: 100vh;
    width: 100%;
}
.containerCadastro{
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.cadastroFuncionario{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--vermelho-claro);
}
.cadastroInputs{
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.confirmaSenha{
    width: 100%;
    height: 13.5%;
}
 #input{
    width: 40.5%;
    height: 100%;
    margin-left: 4.5%;
    font-size: 20px;
    text-align: start;
    font-family: 'roboto';
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: solid  1px black;
}
.cadastroFuncionario input{
    width: 40.5%;
    height: 13.5%;
    font-size: 20px;
    text-align: start;
    font-family: 'roboto';
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: solid  1px black;
}
.cadastroFuncionario input::placeholder{
    color: black;
}
.btnCadastrar{
    background-color: var(--vermelho-claro); 
    width: 190px;
    height: 6vh;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


