@import url(geral.css);

.flexContainer {
    width: 100%;
    position: relative;
}

.flexContainer .divImgAptidao {
    width: 20%;
    margin-top: 14%;
    position: relative;
}

.flexContainer .divImgAptidao .imgTuboAptidao {
    width: 100%;
}

.flexContainer .conteudoQuiz {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.flexContainer .conteudoQuiz .containerAptidao {
    margin-top: 4%;
    margin-left: 5%;
}

.flexContainer .conteudoQuiz .primeiroQuiz {
    width: 80%;
    height: 40vh;
}

.flexContainer .conteudoQuiz .primeiroQuiz h3 {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainer .conteudoQuiz .primeiroQuiz .quizUm {
    width: 110%;
    height: 39vh;
    border-radius: 5px;
    transform: translateY(5px);
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px black;
}

.flexContainer .conteudoQuiz .primeiroQuiz .quizUm .divQuiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69.9%;
    margin-left: 3%;
}

.flexContainer .conteudoQuiz .primeiroQuiz .quizUm .divQuiz .inputQuiz {
    text-align: left;
    width: 24%;
    height: 20%;
    border-radius: 5px;
    border: solid 1px black;
}

#placeholder-number::placeholder {
    font-size: 18px;
    padding: 10px;
    color: black;
}

.flexContainer .conteudoQuiz .segundoQuiz {
    width: 80%;
    height: 39vh;
}

.flexContainer .conteudoQuiz .segundoQuiz h3 {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.flexContainer .conteudoQuiz .segundoQuiz .quizDois {
    width: 110%;
    height: 39vh;
    border-radius: 5px;
    transform: translateY(15px);
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px black;
}

.flexContainer .conteudoQuiz .segundoQuiz .quizDois .comboBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69.9%;
    margin-left: 3%;
}

.quizOpition {
    font-family: "rowdies";
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
    height: 20%;
    border: solid 1px black;
    font-weight: bold;
}

.swal2-popup {
    font-family: sans-serif !important;
}

.divBtn {
    transform: translateX(-15%) translateY(93px);
}