@import url(geral.css);

.flexContainer {
    display: flex;
    /* border: solid 1px yellow; */
}

.imgOnda {
    width: 104.8%;
    height: 100vh;
    display: flex;
    justify-content: end;
    position: absolute;
    /* border: solid 1px black; */
    z-index: -999;
}

.imgOnda .imgOndaDentro {
    height: 105vh;
    /* border: solid 1px black; */
}

.flexContainer .imgTuboEnsaio {
    width: 50%;
    height: 90vh;
    display: flex;
    position: relative;
    justify-content: end;
    /* border: solid 1px  yellow; */
}

.flexContainer .imgTubo {
    height: 65vh;
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-top: 24%;
    /* border: solid 1px red; */
}

.flexContainer .imgLogo {
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 0;
    margin-right: 2.5%;
    padding: 10px;
    margin-bottom: 50%;
    /* border: solid 1px red; */
}

.flexContainer .conteudoQuiz {
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* border: solid 1px red; */
}

.conteudoQuiz .containerAptidao {
    position: absolute;
    top: 0;
    margin-right: 30%;
    margin-top: 3.5%;
    font-size: 10px;
    /* border: solid 1px blue; */
}

.conteudoQuiz .quizUm {
    width: 110%;
    height: 39vh;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px black;
}

.opitionUm {
    font-family: "rowdies";
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
    height: 20%;
    border: solid 1px black;
    font-weight: bold;
}

.opitionDois {
    font-family: "rowdies";
    font-size: 18px;
    border-radius: 5px;
    width: 85%;
    height: 20%;
    border: solid 1px black;
    font-weight: bold;
}

input {
    text-align: left;
    width: 24%;
    height: 20%;
    border-radius: 5px;
    border: solid 1px black;
}

#placeholder-number::placeholder {
    font-size: 18px;
    padding: 10px;
    color: black;
}

.quizUm .inputsQuiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69.9%;
    margin-left: 3%;
    /* border: solid 1px black; */
}

.flexContainer .primeiroQuadro {
    width: 80%;
    height: 39vh;
    /* border: solid 1px red; */
}

.primeiroQuadro h3 {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
}

.conteudoQuiz .quizDois {
    width: 110%;
    height: 39vh;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px black;
}

.quizDois .comboBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69.9%;
    margin-left: 3%;
    /* border: solid 1px black; */
}

.flexContainer .segundoQuadro {
    width: 80%;
    height: 39vh;
    /* border: solid 1px red; */
}

.segundoQuadro h3 {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    /* border: solid 1px blue; */
}

.btn:hover {
    background-color: var(--vermelho-escuro);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}